
<div class="row body">

    <div class="col-lg-2" *ngIf="showHideSidebar"><!-- //afficher sidebar oû mettre disparu -->
          
          <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
          <!-- <button (click)="showHideSidebar =  !showHideSidebar;">Show/Hide</button> -->
          <app-navbar [showSidebar]="showHideSidebar"
                      (showSideBarChange)="onShowSideBarChange($event)">
          </app-navbar> 
          <app-content></app-content>
    </div>
  </div>
  
